/*colores*/

$primario: orangered;
$secundario: burlywood;
$teciario: white;
$otro: black;

/*texto*/

$h1_ancho: bold;
$p_tamanio: 25px;
$margenes_h2: 20px 0 20px 0;
$fuente_primaria: 'Oswald', sans-serif;
$fuente_secundaria: 'Orbitron', sans-serif;

